/*  FONT IMPORTS    */

@font-face {
    font-family: 'Aclonica';
    src: url('./fonts/Aclonica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

/* START OF CUSTOM RESET */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
 
#root, #__next {
    isolation: isolate;
}

/* END OF CUSTOM RESET */

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #2b2b2b;
    color: #f5f1e8;
}

.nav-list {
    position: absolute;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    padding: 1.8rem;
    width: 100%;
    font-family: 'Aclonica';
    font-size: 3.6rem;
    font-weight: bold;
    background-color: rgba(26, 26, 26, 0.5);
    color: #f5f1e8;
    border: solid #f5f1e8 0.2rem;
}

#content {
    flex-grow: 1;
}

.hero {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero::before, .menu-title-panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/sichuan-chilies.jpg);
    background-size: cover;
    filter: contrast(125%) blur(5px);
    z-index: -1;
}

.spacer1 {
    height: 15rem;
}

.spacer2 {
    height: 7.5rem;
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 5.4rem;
    margin: 3.6rem 18rem 0.9rem;
}

h3 {
    text-align: center;
    font-size: 3.6rem;
    margin: 0.9rem 18rem 0.9rem;
}

img#main-logo {
    width: 40%;
}

img#small-logo {
    width: 20%;
}

img#tiny-logo {
    width: 15%;
}

.panel {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    border-top: 0.5rem solid #f5f1e8;
}

.panel:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: none;
}

.panel:nth-of-type(4) {
    background-color: #2b2b2b;
} 

.panel:last-of-type {
    border-bottom: 0.5rem solid #f5f1e8;
    background-color: #2b2b2b;
}

.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    font-size: 2.4rem;
    margin: 1.2rem 12rem 1.2rem;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-title-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.menu-panel {
    width: 100%;
    flex: 3;
    display: flex;

    background-color: #2b2b2b;
    border-top: 0.5rem solid #f5f1e8;
}

.menu-page {
    width: 25rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-content {
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-wrapper {
    width: 100%;
    padding-top: 4rem;
}

.menu-title {
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.item-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 2rem 10rem;
}

.item {
    font-size: 2.4rem;
}

.times-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.day, .time {
    text-align: center;
}

footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1a;
}